/* Reset default margins and paddings */
body, html {
  padding: 0;
  margin: 0;
}

/* Set height for the map and chart containers */
#map, #yearlyBar {
  height: calc(50vh - 40px); /* Adjust this value as needed */
}

/* Add some space below the chart */
#yearlyBar {
  margin-bottom: 20px;
}

/* Style for the controls (dropdown) */
#controls {
  margin: 20px;
}

/* Center the controls and chart horizontally */
#controls, #yearlyBar {
  margin-left: auto;
  margin-right: auto;
}
