/* Reset default margins and paddings */
body, html {
  padding: 0;
  margin: 0;
}

/* Set height for the map and chart containers */
#yearlyBar {
  height: calc(50vh - 40px); /* Adjust this value as needed */
  margin-bottom: 20px
}

/* Map styling */
#map,
body,
html {
  height: 100%;
}

/* Style for the controls (dropdown) */
#controls {
  margin: 20px;
}

/* Center the controls and chart horizontally */
#controls, #yearlyBar {
  margin-left: auto;
  margin-right: auto;
}
